{% extends "global/base.html" %} 

{% block content %}
    <div class="form-wrapper">

        <h2>Contatos</h2>

        <form 
            action=""
            method="POST"
            enctype="multipart/form-data" 
        >
        <!--enctype é utilizado para postar arquivos sem passar pela url-->

        {% csrf_token %}

            <div class="form-content">

                <div class="form-group">

                    <label for="id_first_name">LABEL</label>
                    <input type="text" name="first_name" maxlength="255" id="id_first_name">

                </div>

                <div class="form-content">

                    <div class="form-group">

                        <button class="btn" type="submit">ENVIAR</button>

                    </div>

                </div>

            </div>

        </form>

    </div>
{% endblock content %}

